.calender-wrapper {
  width: 350px;
  height: 240px;
  font-size: 16px;
  margin: 0 auto;
}
.day-wrapper {
  height: 240px;
}
.month-controls {
  height: 44px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-control {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: white;
}
.month-control:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.day {
  width: 50px;
  height: 36px;
  text-align: center;
}

.day:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.day.today {
  background-color: #ffff76;
}
.day.today.active {
  background-color: #ffff76;
}
.day.active {
  background-color: #006edc;
}
.day.non-current {
  color: #757575;
  cursor: not-allowed;
}
.day.non-current:hover {
  background-color: #ffffff;
  cursor: not-allowed;
}

.App {
  width: 100vw;
}
